/*Reset CSS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


/*
1.vị trí
2.kích thước
3.màu sắc
4.kiểu dáng (kiểu chữ,hình tròn,hình vuông,...)
*/

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

#main {}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: black;
    padding: 0 12px;
}

#nav .nav-arrow-down {
    font-size: 13px;
}

#header .search-btn {
    color: #fff;
    font-size: 20px;
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* 50% chieu ngang cua chinh no!!! */
    background: url("../img/slider/slider1.jpg") top center/cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 47px;
    text-align: center;
    /* Cach 1: can dong ra giua
    left: 50%;
    transform: translateX(-50%);
   
    */
    /* Cach 2:*/
    width: 100%;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}


/* Tour Section */

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: red;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantify {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}


/* Plcaces */

.places-list {
    margin-top: 32px;
    margin-bottom: 48px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.6;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}

.btn:hover {
    background-color: #ccc;
    color: black;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal .modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal .modal-close :hover {
    background-color: sandybrown;
}

.modal .modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal .modal-body {
    padding: 16px;
}

.modal .modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal .modal-input {
    border: 1px solid #333;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 20px;
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.6;
    color: #fff;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Contact */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    font-weight: 600;
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    border: 2px solid #333;
    padding: 10px 16px;
    float: right;
    font-weight: 600;
}

.contact-form .form-submit-btn:hover {
    background-color: #333 !important;
    color: black;
    cursor: pointer;
}

.map-section img {
    width: 100%;
    vertical-align: middle;
    filter: grayscale(50%);
}

#footter {
    padding: 64px 16px;
    text-align: center;
    height: 200px;
}

#footter .socials-list {
    font-size: 24px;
}

#footter .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footter .copyright a:hover,
#footter .socials-list a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footter .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footter .copyright a {
    color: rgba(0, 0, 0, 0.6);
}